
@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro&display=swap');

/* We did this on class with the proffessor to size it for phones*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-size: 18px; /*This is now 1rem*/
}
nav>ul, footer>ul{
    list-style: none;
    margin:0;
    padding: 0;
}
/*Here ends proffesor code*/



a:hover {
    color: green;
  }

a {
    color:#8B0000;
}
ul {
    margin-left: 100px;
    padding: 1em;
    
}

li {
    padding: .7em;
    font-size: 24px;
    font-family: sans-serif;
}

header, footer{
    padding: .5px;
    background-color:#008B8B;
    
}

footer {
    text-align: center;
    padding: 5px;
    align-items: center;
    color: white;
    font-family: Verdana;
    clear: both;
    flex-flow: row wrap;
    justify-content: center;
    
}

h1 {
    margin-left: 55px;
    font-size: 45px;
    font-family: 'Montserrat';
    color: white;
    
    
}

h2 {
    margin-left: 55px;
    font-size: 30px;   
    font-family: Verdana, sans-serif;
}

img {
    margin: 20px 80px 20px 4px;
    box-shadow: 3px 3px 3px #008B8B;
    position: relative;
    float: right;
    height: 365px;
    
}

@media only screen and (min-width: 60em) {
	.l02content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    #uno {
        grid-column: 1/2;
    }
    #dos {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #tres {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #cuatro {
        grid-column: 1/2;
        grid-row: 5/6;

    }
}