
a:hover {
    color: green;
  }

a {
    color:#8B0000;
}
ul {
    margin-left: 100px;
    padding: 1em;
    
}

li {
    padding: .7em;
    font-size: 24px;
    font-family: sans-serif;
}

header, footer{
    padding: .5px;
    background-color:#008B8B;
   
}

footer {
    text-align: center;
    padding: 5px;
    align-items: center;
    color: white;
    font-family: Verdana;
    clear: both;
    flex-flow: row wrap;
    justify-content: center;
    
}

h1 {
    margin-left: 55px;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
    
}

h2 {
    margin-left: 55px;
    font-size: 30px;   
    font-family: Verdana, sans-serif;
}

img {
    margin: 20px 80px 20px 4px;
    box-shadow: 3px 3px 3px #008B8B;
    position: relative;
    float: right;
    height: 365px;
    
}