@media only screen and (min-width: 700px) {
    * {
        box-sizing: border-box;
        margin: 0;
      }

#tlogo {
    width: 80px;
}


    .logobox {
    display: flex;
    flex: 1;
    background-color:rgb(207, 9, 9);
    color: white;
    width: 100%;
    margin: 1px;
    
}


ul li a{
    flex-direction: row;
    color:white;
    margin: 1px;
    padding:3px;
    font-size: 18px;
    font-family: 'Oswald';
    list-style-type: none;
}
ul li{
  font-size: 40px;
}

li{
    list-style-type: none;
}

a:hover {
    background-color: rgba(6, 57, 199, 0.767);
  }
 a:active {
    color: rgb(4, 221, 185);
  }

  .navegacion{
    display:flex;
    justify-content: space-evenly;
    background-color: rgb(25, 160, 97);

}

footer{
    background-color: rgb(207, 9, 9);
    padding: 1em 0 1em 0;
    text-align: center;
    margin:.9em;
  }

 span{
     color: white;
     font-size: 18px;
 }








  
}