@media only screen and (max-width: 579px) {
  .main-container{
    margin:.9em;
}
* {
    box-sizing: border-box;
    margin: 0;
  }
  
  
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  .column {
      flex: 100%;
      max-width: 100%;
    }
    .everything{
      display: grid;
      grid-template-columns: 1fr ;
      grid-template-rows: 1fr;
      background-color: rgb(0, 0, 0);
  }
  .logobox {
    display: flex;
    flex: 1;
    background-color:rgb(44, 107, 202);
    color: white;
    width: 100%;
    margin: 1px;
    text-align: center;
    
}
.logo {
  font-family: 'Fjalla One';

}

#tlogo {
width: 80px;
margin-left: 10px;
}
#foto{
  width: 100%;
  display:flex;
}
.call {
	position: absolute;
	top: 420px;
	right: 100px;
	background: radial-gradient(#eee, #197996);
	border: 1px solid #000; 
	padding: .3rem;
	box-shadow: 0 0 0 #111;
    opacity: .99;
    font-size: 7px;
}
.salt {
	position: absolute;
	top: 540px;
	right:70px;
	background: radial-gradient(#eee, #197996);
	border: 1px solid #000; 
	padding: .4rem;
	box-shadow: 0 0 6px #111;
    opacity: .99;
    font-size: 7px;
}

.navegacion{
  display:flex;
  justify-content: space-evenly;
  background-color: rgb(35, 175, 175);
  flex-direction: column;

}

ul li a{
  flex-direction: row;
  color:rgb(255, 255, 255);
  margin: 1px;
  padding:3px;
  font-size: 18px;
  font-family: 'Pacifico';
  list-style-type: none;
}
ul li{
font-size: 40px;
color: white;
}

li{
  list-style-type: none;
  color: white;
}
.bla{
  color: black;
}
a:hover {
  background-color: rgba(29, 62, 151, 0.767);
}
a:active {
  color: rgb(4, 221, 185);
}

a:visited {
  color: rgb(255, 255, 255);
}

.foto5{
  max-width: 334px;
  margin:8px;
}

.everything6{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: rgb(0, 0, 0);
}

.uno{
  color: aqua;
  }
  .dos{
      color: rgb(235, 231, 34);
  }
  .tres{
      color: rgb(75, 230, 75);
  }
  .cuatro{
      color: rgb(240, 195, 166);
  }
  .cinco{
      color: rgb(97, 240, 69);
  }
  .seis{
      color: rgb(58, 211, 216);
      
  }
  .siete{
      color: navajowhite
  }





































footer{
  background-color: rgb(44, 107, 202);
  padding: 1em 0 1em 0;
  text-align: center;
  margin:.9em;
  
}

span{
   color: white;
   font-size: 18px;
}
}







