@media only screen and (min-width: 476px) {
  main{
    grid-template-columns: 1fr 1fr;
  }

.location{
  grid-column: span 2;
}
.temperature{
  grid-column: span 2;
}

.current-condition{
  grid-column: span 2;
}

.precipitation{
  grid-column: span 2;
}
.forecast{
  grid-column: span 2;
}
nav ul {
  flex-direction: row;
}
}