@media only screen and (min-width: 400px) {
  .main-container{
    max-width: 60 em;
    margin:.9em;
}
#bottom {
    color:white;
}
footer{
    max-width: 60 em;
    margin:.9em;
}
.logobox {
    display: flex;
    flex: 1;
    background-color:#3F5077;
    color: white;
    width: 100%;
    margin: 5px;
    
}
.navegacion{
    display:flex;
    justify-content: space-evenly;
    background-color: #3F774D;

}
ul li a{
    flex-direction: row;
    color:white;
    margin: 1px;
    padding:3px;
    font-size: 18px;
    font-family: 'Oswald';
    list-style-type: none;
}
li{
    list-style-type: none;
}

a:hover {
    background-color: navy;
  }
 a:active {
    color: red;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main section {
    background-color: white;
  }
  
  .location {
    background-color:#3F5077;
  }
  
  .location h1 {
    margin: .4em .4em 0 .4em;
  }
  .location {
    grid-column: span 2;
    color: white;
  }

  .current-condition {
    grid-column: span 2;
    background-color:#3F774D;
    color: white;
  }
  .forecast {
    grid-column: span 2;
    background-color:white;
  }
  .temperature{
    grid-column: span 1;
    background-color:white;
    
  }
  .precipitation{
    grid-column: 2/3;
  }
  footer{
    background-color: #3F5077;
    padding: 1em 0 1em 0;
    text-align: center;
    max-width: 60 em;
    margin:.9em;
  }

 span{
     color: white;
     font-size: 18px;
 }
 * {
  box-sizing: border-box;
  margin: 0;
}

 .component-circle {
  background: radial-gradient(circle, transparent 40%, gray 40%);
  border-radius: 100%;
  height: 170px;
  width: 170px;
  margin: 65px auto 65px auto;
  position: relative;
}
#precip {
position: relative;
letter-spacing: .3px;
font-size: 26px;
min-width: 50px;
}
#mid {
position: relative;
top: 57px;
left: 55px;
font-size: 36px;
}
.ball {
width: 35px;
height: 35px;
border-radius: 100%;
background-color: blue;
position: relative; top:-47px; left: 70px
}
#pcomp{
  max-width: auto;
}
 
 #o1 {position: absolute; top: -20px; left: 10px;}
 #o2 {position: absolute; top: 15px; left: 168px;}
 #o3 {position: absolute; top: 72px; left: 182px;}
 #o4 {position: absolute; top: 120px; left: 168px;}
 #o5 {position: absolute; top: 160px; left: 130px;}
 #o6 {position: absolute; top: 175px; left: 70px;}
 #o7 {position: absolute; top: 160px; left: 10px;}
 #o8 {position: absolute; top: 120px; left: -28px;}
 #o9 {position: absolute; top: 70px; left: -35px;}
 #o10 {position: absolute; top: 15px; left: -28px;}
 #o11 {position: absolute; top: -20px; left:135px;}
 #o12 {position: absolute; top: -35px; left: 70px;}
 
 #i1 {position: absolute; top: 13px; left: 114px;}
 #i2 {position: absolute; top: 38px; left: 136px;}
 #i3 {position: absolute; top: 72px; left: 145px;}
 #i4 {position: absolute; top: 105px; left: 134px;}
 #i5 {position: absolute; top: 128px; left: 110px;}
 #i6 {position: absolute; top: 136px; left: 77px;}
 #i7 {position: absolute; top: 128px; left: 44px;}
 #i8 {position: absolute; top: 105px; left: 20px;}
 #i9 {position: absolute; top: 72px; left: 12px;}
 #i10 {position: absolute; top: 38px; left: 10px;}
 #i11 {position: absolute; top: 13px; left: 37px;}
 #i12 {position: absolute; top: 5px; left: 75px; }
}