@media only screen and (max-width: 700px) {
  .main-container{
    max-width: 60 em;
    margin:.9em;
}
#bottom {
    color:white;
}
footer{
    max-width: 60 em;
    margin:.9em;
}
.logobox {
    display: flex;
    flex: 1;
    background-color:#3F5077;
    color: white;
    width: 100%;
    margin: 5px;
    
}
.navegacion{
    display:flex;
    justify-content: space-evenly;
    background-color: #3F774D;

}
ul li a{
    flex-direction: row;
    color:white;
    margin: 1px;
    padding:3px;
    font-size: 18px;
    font-family: 'Oswald';
    list-style-type: none;
}
li{
    list-style-type: none;
}

a:hover {
    background-color: navy;
  }
 a:active {
    color: red;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main section {
    background-color: yellow;
  }
  
  .location {
    background-color:aqua;
  }
  
  .location h1 {
    margin: .4em .4em 0 .4em;
  }
  .location {
    grid-column: span 2;
  }

  .current-condition {
    grid-column: span 2;
  }

  .forecast {
    grid-column: span 2;
  }
  .temperature{
    grid-column: span 2;
  }
  .precipitation{
    grid-column: span 2;
  }
}